#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(51, 51, 61);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper {
  width: 60vw;
  margin-top: 2rem;
  position: absolute;
  margin-left: -150px;
  margin-bottom: 2rem;
  max-height: 90vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  font-size: 2em
}
.txt{
  position: absolute;
  bottom: 3%;
  right: 3%;


}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.first{
  height: 100vh;
}
.second{
  height: 100vh;
}
.third{
  height: 100vh;
}
@media(max-width:610px){
  .swiper{
    width: 90vw;
  }
}
